In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from geopy.geocoders import Nominatim 
# from mpl_toolkits.basemap import Basemap 
# from matplotlib.cbook import dedent
# from inspect import cleandoc as dedent
# import os

# os.environ['PROJ_LIB'] = '/opt/anaconda3/envs/machine_learning/share/proj'

In [29]:
PATH = '../../Datasets/predict_future_sales/'

df_train = pd.read_csv(PATH + 'sales_train.csv')
df_items = pd.read_csv(PATH + 'items.csv', index_col='item_id')
df_categories = pd.read_csv(PATH + 'categories.csv', index_col='category_id')
df_shops = pd.read_csv(PATH + 'shops.csv', index_col='shop_id')
df_sub   = pd.read_csv(PATH + 'sample_submission.csv', index_col="ID")
df_test = pd.read_csv(PATH + 'test.csv')

In [28]:
df_train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0