In [2]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [3]:
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0 -0.080666 -0.041402  0.122068
1  0.249070 -0.155328 -0.093742
2 -0.031519  0.365275 -0.333756
3 -0.189105  0.156372  0.032733
4  0.513923 -0.304785 -0.209138

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [4]:
df.sum().idxmin()

2